h1 {
   margin: 25px 0px 10px;
}

h2 {
   margin: 20px 0px 8px;
}

.btn {
   margin: 3px;
   min-width: 120px;
}

.btn.file {
   display: block;
}

.row {
   margin-bottom: 30px;
}

.my-object-name {
   margin: 5px 0px;
}