<b>OB</b>jekt <b>LE</b>ihe oder englisch <b>OB</b>ject <b>LE</b>nding.<br>
 Ohne Anmeldung können Gegenstände angesehen und die Ausleihe angefragt werden.

<h2>Ausleihen</h2>
<a class="btn btn-outline-primary" href="/all_objects">Alle Objekte</a>
<br>
<a class="btn btn-outline-primary" href="/search">Suche</a>

<h2>Verleihen</h2>
<a class="btn btn-outline-primary" href="/register">Registrieren</a>
<br>
<a class="btn btn-outline-primary" href="/login">Einloggen</a>

<h2>Warum (ver)leihen?</h2>
<ol>
   <li>es spart Geld</li>
   <li>gut für die Umwelt</li>
   <li>man lernt Menschen aus der Umgebung kennen</li>
</ol>

<h2>Mehr erfahren</h2>
<a href="https://github.com/Henri-Kassulis/object-lending#object-lending--oble-">Projekt auf
   Github</a>
