

Ohne Anmeldung können Gegenstände angesehen und die Ausleihe angefragt werden.

<h2>Verleihen</h2>

<a href="/register">registrieren</a>
<a href="/login">einloggen</a>

<h2>Ausleihen</h2>

<a href="/all_objects">alle Objekte</a>
<a href="/search">Suche</a>


<h2>Mehr erfahren</h2>

<a href="https://github.com/Henri-Kassulis/object-lending#object-lending--oble-">Projekt auf Github</a>
