<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="navbar-nav">

		<a href="/all_objects" class="nav-item nav-link navbar-right">Objekte</a>
		<a href="/search" class="nav-item nav-link">Suche</a>

		
		
		{{#logged_in}} 
		<a href="/my_objects" class="nav-item nav-link">Meine Objekte</a>
		<a href="/add_object" class="nav-item nav-link">Objekt hinzufügen</a>
		{{/logged_in}}

	</div>

	<div class="navbar-nav ml-auto">

		{{#not_logged_in}}
		<a href="/login" class="nav-item nav-link">   <span class="glyphicon glyphicon-log-in"></span>Einloggen</a>
		<a href="/register" class="nav-item nav-link"><span class="glyphicon glyphicon-user">  </span>Registrieren</a>
		{{/not_logged_in}} 

		{{#logged_in}} 
		<a href="/edit_profile" class="nav-item nav-link">User: {{name}}</a>
		<a href="/logout" class="nav-item nav-link">Abmelden</a>
		{{/logged_in}}

	</div>

</nav>